.navbar {
  background-color: #fa96fa; 
  color: black;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;

}
.nav-links {
  list-style: none;
  display: flex;             
  gap: 2rem;                 
}

.contents {
    display: flex;
    flex-flow: column wrap;
}

body {
        font-family: Arial, sans-serif;
        margin: 20px;
        padding: 0;
        line-height: 1.6;
}
header, footer {
        background: #fa96fa;
        color: black;
        text-align: center;
        padding: 10px 0;
}
main {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
}
section {
        margin-bottom: 20px;
}
pre {
        background: #bfa1d6;
        padding: 10px;
        border-radius: 5px;
        overflow-x: auto;
}
code {
	font-family: monospace;
}
.vidcontainer {
	display: grid;
	place-items: center;
	height: 75vh;
}
